* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif;
}

body {
    position: relative;
}

header {
    background-color: #404040;
    height: 150px;
    width: 100%;
    padding: 20px;
    position: fixed;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
}

#picture {
    width: 110px;
    height: 110px;
    background-color: white;
    border-radius: 100%;

}

#text {
    margin: 10px 40px 0 30px;
}

h1 {
    font-weight: 700;
    color: skyblue;
    font-size: 40px;
}

h2 {
    font-weight: 400;
    color: white;
}

.fa {
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    font-size: 80px;
    transform: translate(-50%, -50%)
}

main {
    position: absolute;
    top: 150px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    padding: 20px;
    height: 100vh;
}

img {
    object-fit: cover;
}

.hexagon a p {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 90%;
    color: black;
    font-size: 18px;
    transition: 0.3s;
}

.show {
    display: none;
    transition: 0.3s;
}

#grid {
    position: relative;
    margin: 0 auto;
    padding: 0;
}

#grid li {
    list-style-type: none;
    position: relative;
    float: left;
    width: 27.85714285714286%;
    padding: 0 0 32.16760145166612% 0;
    transform: rotateZ(-60deg) skewY(30deg);
    overflow: hidden;
    visibility: hidden;
    transition: 0.5s;
}

#grid li .hexagon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: skewY(-30deg) rotateZ(60deg);
    overflow: hidden;
    perspective: 1000px;
    cursor: pointer;
}

.blue {
    background: skyblue;
}

#grid li .blue:hover {
    background: lightblue;
}

#grid li .hexagon img {
    transition-duration: 0.3s;
}

.opacity {
    transition-duration: 0.2s;
    opacity: 0.3;
}

#grid li * {
    visibility: visible;
}

.container {
    position: relative;
    width: 100%;
    top: 50%;
    transition: 0.5s;
    transform-style: preserve-3d;
}

.front,
.back {
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    font-size: 32px;
    width: 100%;
    text-align: center;
    backface-visibility: hidden;
    overflow: hidden;
}

.front {
    transform: rotateY(0deg) translate(-50%, -50%);
}

.back {
    transform: rotateY(180deg) translate(50%, -50%) scale(-1, 1);
    padding: 15px;
}

.container.flip {
    transform: rotateY(180deg);
    transition: 0.5s;
}

#grid .unshifted.flip {
    transform: rotateZ(60deg) skewY(-30deg) rotateY(180deg);
    transition: 0.5s;
}

#grid .shifted.flip {
    transform: translate(50%) rotateZ(60deg) skewY(-30deg) rotateY(180deg);
    transition: 0.5s;
}

#grid li:nth-child(3n+2) {
    margin: 0 1%;
}

#grid li:nth-child(6n+4),
#grid li:nth-child(6n+5),
#grid li:nth-child(6n+6) {
    margin-top: -6.9285714285%;
    margin-bottom: -6.9285714285%;
    transform: translateX(50%) rotate(-60deg) skewY(30deg);
}

#grid li:nth-child(6n+4) {
    margin-left: 0.5%;
}

@media only screen and (min-width: 600px) and (max-width: 680px) {
    #picture {
        display: none;
    }

    header {
        padding: 5px
    }
}

@media only screen and (max-width: 599px) {
    #picture {
        display: none;
    }

    #text {
        margin: 0;
        margin-right: 30px;
    }

    header {
        padding: 0 20px;
        height: 170px;
        padding-right: 45px;
    }

    main {
        padding: 40px 9px;
    }

}
