* {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
  }

#smallScreenIcons, .smallScreen {
    display: none;
}


h1, h2 {
    text-transform: uppercase;
}


#backToTop {
    display: none;
}

hr {
    display: none;
}

/* Slider Style
--------------------------------------*/
.cd-slider {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
    margin-bottom: 5rem;
}
.cd-slider li {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    transition: visibility 0s 1s;
  will-change: visibility;
}
.image {
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    height: 100%;
    background-size: cover;
    background-position: 50% 50%;
    clip: rect(0, 80rem, 50rem, 80rem);
    transition: clip 0.3s cubic-bezier(0.99, 0.01, 0.45, 0.9) 0.1s;
  will-change: clip;
}

/* Current Slide 
-------------------------------------*/
li.current {
    visibility: visible;
    transition-delay: 0s;
}
li.current .image {
    clip: rect(0, 80rem, 50rem, 0);
}

/* Prev Slide 
------------------------------------*/
li.prev_slide .image {
    clip: rect(0, 0, 50rem, 0);
}
nav {
    position: absolute;
    bottom: 0;
    background: #fff;
    z-index: 0;
    width: 100%;
}
.prev, .next, .counter {
    vertical-align: middle;
}
.prev, .next {
    position: relative;
    display: inline-block;
    height: 25px;
    width: 25px;
    margin: 15px;
    border: 0;
    cursor: pointer;
    background: transparent;
}

.prev {
    background-image: url(https://vsogawa.github.io/icons8-left-26.png);
}

.next {
    background-image: url(https://vsogawa.github.io/icons8-right-26.png);
}

.counter {
    display: inline-block;
    font-size: 25px;
    font-family: serif;
    font-style: italic;
}
.counter span:last-child::before {
    content: '/';
    margin: 0 1rem;
}


@media only screen and (max-width: 815px) and (min-width: 415px){

    hr {
    display: block;
    }

}

@media only screen and (max-width: 415px) {
    
    * {
        text-align: center;
    }

    .smallScreen {
        display: block;
    }

    #carouselPlaceholder {
        width: 300px;
    }

    #bigScreenIcons {
        display: none;
    }

    #aboveFooter {
        margin-bottom: 100px;
    }

    #smallScreenIcons {
        display: block;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: gray;
        text-align: center;
        height: 80px;
    }   

    #smallScreenIcons .contactIcon {
        margin: 10px;
        vertical-align: middle;
    } 

    #logo {
        margin: 80px 0 10px 0;
    }

    h1 {
        margin: 0;
    }

    #leftColumn p {
        margin: 5px 0 70px 0;
    }

    #rightColumn {
        padding: 15px;
    }

    h2 {
        margin-top: 40px;
    }

    ul li {
        text-align: left;
        margin-top: 8px;
        font-size: 16px;
    }

    ul {
        padding-left: 20px;
        margin-bottom: 20px;
    }

    .title {
        font-weight: 700;
        display: block;
        text-align: left;          
    }

    .location {
        font-style: italic;
        display: block;
        text-align: left;          
    }

    .dates {
        display: block;
        text-align: left;        
    }

    .resume {
        display: block;
        text-align: left;  
        font-size: 19px;        
    }

    .item {
        text-align: center;
        margin: 2px;
    }

    .card {
        background-color: white;
        border: 1px solid green;
        width: 90%;
        height: 100%;
        text-align: center;
        margin: auto;
        position: relative;
    }

    .projectImage {
        display: block;
        margin: auto;
        max-width: 100%;
    }

    .projectTitle {
        position: absolute;
        font-color: gray;
        bottom: 5px;
        left: 15px;
    }

    #backToTop {
        display: block;
        margin: 10px;
        cursor: pointer;
        text-decoration: none;
        color: gray;

    }

    .image { width: 100%; }

    .linkedIn {
        height: 45px;
    }

    .verticalHelper {
        height: 100%;
        vertical-align: middle;
    }

    hr {
        display: block;
        border: none;
        border-top: 4px solid #f6f6f6;
        margin: 20px;
    }

    h2 {
        border-top: 4px solid #f6f6f6;
        border-bottom: 4px solid #f6f6f6;    
        padding: 7px 0 7px 0;    
    }

    .commentary {
        background-color: rgba(0, 0, 0, 0.7);
        position: absolute;
        display: inline-block;
        height: 95px;
        bottom: 55px;
        width: 100%;
    }

    .commentary p:first-child {
        color: white;
        text-align: left;
        margin: 8px 0 0 10px;
        font-weight: 700;
        font-size: 19px;
        font-style: italic;
    }

    .commentary p:last-child {
        color: white;
        text-align: left;
        margin: 0 0 0 10px;
        width: 95%;
    }    

}
