* {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    text-align: center;
  }

h1, h2 {
    text-transform: uppercase;
}

#logo {
    margin-top: 50px;
}

li:last-child {
    margin-bottom: 30px;
}

li {
    margin-bottom: 10px;
}

.fa {
    font-size: 40px;    
    color: gray;
}

#name p {
    margin: 0 15px 5px 0;
    color: #36C936;
    font-size: 20px;
}

.projectdescription {
    margin-bottom: 45px;
    text-align: justify;
    max-width: 75%;   
    display: inline-block;     
}

h1 {
    margin-right: 15px;
    margin-top: 50px;
    font-size: 38px;
    margin-bottom: 20px;
}

.title {
    font-size: 1.2em;
    font-weight: 700;
    color: #36C936
}

.recolor {
    font-size: 14px;  
    color: #36C936;
    position: relative;
    width: 160px;
    margin: auto;                
}

.fa-paint-brush {
    font-size: 14px;
    color: #36C936;
    margin-right: 7px;
}

#colorpicker {
    z-index: 1;  
    width: 160px;
    opacity: 0; 
    cursor: pointer;  
    position: absolute; 
    left: -3px; 
    top: -3px;        
}

.icon {
    margin: 30px 10px 30px 10px;
}

#backToTop {
    text-decoration: none;
    color: #36C936;
    cursor: pointer;
}

#backToTop:hover {
    color: lightgray;
}

.divider {
    background-color: #D6D6D6;
    height: 2px;
    border-radius: 10%;
    width: 100%;
    margin: 10px 30px 10px 0;
    background: linear-gradient(to right, #D6D6D6, #D6D6D6, #36C936);
}

.fa-envelope-square:hover {
    color: orange;
}

.fa-linkedin-square:hover {
    color: navy;
}

.fa-github-square:hover {
    color: purple;
}

body {
    position: relative;
}

.picContainer {
    max-width: 90%;
    max-height: 250px;
    overflow: hidden;
    display: inline-block;
    position: relative;
}

.projectImage {
    width: 100%;
}

li, ul, span {
    text-align: left;
}   

li {
    color: #36C936;
}

span {
    color: black;
}

.resume {
    font-style: italic;
}

.location, .dates {
}

#footer {
    z-index: -1;
    position: absolute;
    left:0;
    bottom: -50px;
    width: 100%;
    margin: 0;
    opacity: 0.2;
}

#copytext {
    position: absolute;
    right: 20px;
    bottom: -50px;
    font-size: 12px;
    color: gray;
}

#resume {
    text-align: left;
    margin-left: 20px; 
    margin-right: 5px;
}
 
#projectsHeader {
    color: #36C936;
    font-size: 32px;        
}

#resumeHeader {
    color: #36C936;     
    font-size: 32px;
} 

.titleShadowBox {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 55px;
    z-index: 1;
    background-color: rgba(0,0,0,0.7);
}

.projectTitle {
    color: white;
    position: absolute;
    bottom: 5px;
    left: 5px;
    max-width: 100%;
    z-index: 2;
    padding: 5px;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    margin: 0;
    text-align: left;
}

@media only screen and (min-width: 750px) {

    #container {
        display: grid;
        grid-template-columns: repeat(3, 33%);
        grid-template-rows: 100px, 100px, 800px, 100px, 900px;
        align-items: start;                
    }

    #backToTop {
        display: none;
    }

    #logo {
        grid-column: 1;
        grid-row: 1;
        margin-left: 30px;
        align-self: flex-start;
        margin-top: 20px;
        height: 100px;
    }

    .icon {
        margin: 0 3px 0 3px;
    }

    .recolor {
        grid-column: 1;
        grid-row: 1; 
        font-size: 14px;  
        color: #36C936;
        align-self: end;
        justify-self: start;   
        margin-left: 180px;
        margin-bottom: 4px;         
    }

    .fa-paint-brush {
        font-size: 14px;
        color: #36C936;
        margin-right: 4px;
    }

    #colorpicker {
        grid-column: 1;
        grid-row: 1; 
        align-self: end;
        justify-self: start;   
        z-index: 1;  
        margin: 0 0 0 10px;        
        width: 140px;
        opacity: 0; 
        cursor: pointer;            
    }

    #name {
        grid-column: 2 / 4;
        grid-row: 1;
    }

    #name p {
        text-align: right;
        margin: 0 15px 5px 0;
    }

    h1 {
        text-align: right;
        margin-right: 15px;
        margin-top: 10px;
        margin-bottom: 5px;
    }

    #iconList {
        margin-right: 15px;
        margin-top: -15px;
        justify-self: end;
        align-self: center;
        display: inline-block;
        letter-spacing: 3px;
        float: left;
        grid-column: 3;
        grid-row: 2;
    }

    #projectsHeader {
        grid-column: 1 / 4;
        grid-row: 2;
        text-align: left;
        margin-left: 20px;
        margin-top: 10px;        
    }

    #project1 {
        grid-column: 1;
        grid-row: 3;
    }

    #project2 {
        grid-column: 2;
        grid-row: 3;
    }    

    #project3 {
        grid-column: 3;
        grid-row: 3;
    }  

    .projectdescription {
        margin-bottom: 0;
    }

    #resumeHeader {
        grid-column: 1 / 4;
        grid-row: 4;
        text-align: left;
        margin-left: 20px;   
    }   

    #resume {
        grid-column: 1 / span 3;
        grid-row: 5;
        margin-right: 20px; 
        max-width: 850px;              
    }

    .location, .dates {
        float: right;
    }

    .title, .resume {
        clear: left;
        float: left;
    }

    .bigbr {
        display: none;
    }

}